<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeForDotNet.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodeForDotNet.Tests.Properties.Settings>
            <setting name="TestFormatXmlInputFilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestInput.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputIndentTrimFilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputIndentTrim.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputIndentOmitCommentsTrimFilePath"
                serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputIndentOmitCommentsTrim.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputIndentOmitCommentsFilePath"
                serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputIndentOmitComments.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputIndentFilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputIndent.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputTrimUtf16FilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputTrimUtf16.xml</value>
            </setting>
            <setting name="TestFormatXmlInputFragmentFilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestInputFragment.xml</value>
            </setting>
            <setting name="TestFormatXmlOutputFragmentFilePath" serializeAs="String">
                <value>Data\Xml\FormatXmlTestOutputFragment.xml</value>
            </setting>
            <setting name="TestXmlValidationSchemaFilePath" serializeAs="String">
                <value>Data\Xml\TestValidation.xsd</value>
            </setting>
            <setting name="TestXPathFunctionsInputFilePath" serializeAs="String">
                <value>Data\Xml\XPathFunctionsTestInput.xml</value>
            </setting>
            <setting name="TestXPathFunctionsExecuteFilePath" serializeAs="String">
                <value>Data\Xml\XPathFunctionsTestExecute.xslt</value>
            </setting>
            <setting name="TestXPathFunctionsOutputFilePath" serializeAs="String">
                <value>Data\Xml\XPathFunctionsTestOutput.xml</value>
            </setting>
        </CodeForDotNet.Tests.Properties.Settings>
    </applicationSettings>
</configuration>