<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

    <!-- Test Framework -->
    <RunConfiguration>
        <MaxCpuCount>1</MaxCpuCount>
        <ResultsDirectory>Temp\TestResults</ResultsDirectory>
        <TargetPlatform>x64</TargetPlatform>
        <TestSessionTimeout>60000</TestSessionTimeout>
        <TreatTestAdapterErrorsAsWarnings>false</TreatTestAdapterErrorsAsWarnings>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
    </RunConfiguration>

    <!-- MSTest Adapter -->
    <MSTest>
        <CaptureTraceOutput>true</CaptureTraceOutput>
        <DeploymentEnabled>false</DeploymentEnabled>
        <DeleteDeploymentDirectoryAfterTestRunIsComplete>false</DeleteDeploymentDirectoryAfterTestRunIsComplete>
        <DeploymentEnabled>false</DeploymentEnabled>
        <MapInconclusiveToFailed>true</MapInconclusiveToFailed>
        <InProcMode>false</InProcMode>
    </MSTest>
    
</RunSettings>
