<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <solution>
    <!-- Modern package managers do not require source to be stored locally. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <!-- Ensure official source is used (even though default value). -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageRestore>
    <!-- Automatically restore packages during build. -->
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

</configuration>